#drum-machine {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.box {
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  border: 5px solid orange;
  flex-direction: row;
  flex-flow: row wrap;
  display: flex;
}

.drum-pad-container {
  width: 300px;
  height: 100%;
}

.drum-pad {
  width: 90px;
  height: 90px;
  margin: 5px;
  background-color: grey;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  border: none;
  outline: none !important;
}

.drum-pad-power-on {
  width: 90px;
  height: 90px;
  margin: 5px;
  background-color: grey;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  border: none;
  outline: none !important;
}

.drum-pad-power-on:active {
  background-color: orange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.controls-container {
  width:300px;
  height: 100%;
}

.slider {
  width: 100px;
}

.volume-container {
  width: 150px;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
}

.power-container, .bank-container {
  display: flex;
  margin: auto;
  width: fit-content;
  margin-bottom: 30px;
}

#display {
  width: 70%;
  height: 60px;
  margin: auto;
  background-color: gray;
  margin-bottom: 30px;
}

h3 {
  line-height: 60px;
}

